

services:
  db:
    image: postgres:15
    container_name: hrms_db
    restart: always
    env_file:
      - ./backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  backend:
    build: .
    container_name: hrms_backend
    command: gunicorn backend.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: hrms_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  postgres_data:
