services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: hrms_backend
    command: sh -c "gunicorn backend.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    expose:
      - "8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: hrms_frontend
    ports:
      - "${PORT}:80"
    depends_on:
      - backend

volumes:
  postgres_data: